h1{ text-align: center; font-family:'Gill Sans'} 

h2 {font-size: 45 ; font-family: monospace;}

h4{ text-align: center;font-family:sans-serif; } 

p {font-family:Helvetica;}


.divison1{
    background-color:black;

    color: white}


.divison2{
color:rgb(6, 58, 6); text-align: center; border: 25px solid darkgreen; } 

